venv/
__pycache__/
*.pyc
*.pyo
logs/
*.db
test_video*.mp4
debug_*.jpg
frame_sample.jpg
*.zip
*.exe
dist/
build/
*.spec
.vscode/
.idea/
*.mp4
dist/
贵州省计量测试院+2022112742539+LSBJ-25-I-29304724+第N次审查意见通知书.pdf
